@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500;600&display=swap');

:root{
  --themeColor1 : #0487D9;
  --themeColor2 : #04D99D;
  --themeColor3 : #F2CB05;
  --themeColor4 : #F24C3D;
  --themeColor5 : #F2F2F2;
}

* {
  font-family: 'Quicksand', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Color Theme Swatches in Hex */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body{
  background-color: var(--themeColor5);
  background-color: white;
  color: rgb(50, 50, 50);
}

.content{
  width: 100%;
  padding: 50px 10%;
}

.blog-preview{
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
  box-sizing: border-box;
  /* background-color: pink; */
  height: 170px;
}

.blog-preview:hover{
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}

.blog-preview h2{
  font-size: 20px;
  margin-bottom: 8px;
  color: var(--themeColor4);
}

.delete-blog{
  margin-block: 20px;
  background-color: transparent;
  border: 1px solid var(--themeColor4);
  outline: none;
  padding: 10px 20px;
  border-radius: 5px;
  color: var(--themeColor4);
  transition: ease .5s;
}

.delete-blog:hover{
  padding: 11px 22px;
  border-radius: 5px;
  box-shadow: 1px 3px 5px 2px rgba(0, 0, 0, 0.2);
  background-color: var(--themeColor4);
  color: var(--themeColor5);
}

.change-reviwer{
  border: none;
  margin-block: 20px;
  background-color: transparent;
  outline: none;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: var(--themeColor2);
  color: var(--themeColor5);
  
}